# Individual files to be ignored
data_store.txt

# File extensions
*.ex

# IDE directories
**/.vs/
**/.vscode

# Directories for C++ project outputs
**/build/
**/output/

# Directories  for C#/Visual Studio project outputs
**/bin/
**/obj/
